# Archivos de caché de Python
__pycache__/
*.pyc
*.pyd
*.pyo
.pytest_cache/

# Entorno virtual y temporales
.env
venv/
env/

# Archivos de configuración y credenciales privadas
credentials.json

# Archivos duplicados (los que terminan en copy o -313)
* copy.py
* -313.py

